@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;


}

/*---Header---*/

header {
    background-color: rgb(61, 109, 180);
}

main {
    background-color: white;
    background-size: cover;
}

/* TITULO SECCIONES */

.titulo-secciones {
    background-color: black;
    text-align: center;
    border-radius: 0px;
    padding: 15px;
}

.slider-productos {
    padding: 15px;
    display: flex;
    gap: 50px;
    overflow: auto;


}

/* Poner el footer abajo en la pagina de contacto */

.contenedor-footer-contacto {
    position: absolute;
    width: 100%;
}

/* Tarjetas de productos */

/* .tarjeta-producto-gpu {
    height: 620px;
}

.tarjeta-producto-procesador {
    height: 585px;
}

.tarjeta-producto-mouse {
    height: 585px;
}

.tarjeta-producto-teclado {
    height: 642px;
}

.tarjeta-producto-hdd {
    height: 620px;
}

.tarjeta-producto-usb {
    height: 620px;
} */